################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzTestProj/.vs/AzTestProj/v16
